<div class="container hover">
  <img src="img/lips.jpg" alt="Lips" class="lips" />
  <img src="img/polaroid.png" alt="Polaroid" class="polaroid" />
  <img src="img/red-pin.png" alt="RedPin" class="red-pin" />
</div>

<div class="containerTwo hover">
  <img src="img/lady.jpg" alt="Lady" class="lady" />
  <img src="img/polaroid.png" alt="Polaroid" class="polaroid2" />
  <img src="img/red-pin.png" alt="RedPin" class="red-pin2" />
</div>

<div class="containerThree hover">
  <img src="img/glasses.jpg" alt="Glasses" class="glasses" />
  <img src="img/polaroid.png" alt="Polaroid" class="polaroid3" />
  <img src="img/red-pin.png" alt="RedPin" class="red-pin3" />
</div>

<div class="containerFour hover">
  <img src="img/retro.jpg" alt="Retro" class="retro" />
  <img src="img/polaroid.png" alt="Polaroid" class="polaroid4" />
  <img src="img/red-pin.png" alt="RedPin" class="red-pin4" />
</div>

<div class="containerFive hover">
  <img src="img/paper.jpg" alt="Paper" class="paper" />
  <h2 class="quote">Flip The Bird.</h2>
</div>
