<div class="container">
  <img src="img/lips.jpg" alt="Lips" class="lips" />
  <img src="img/polaroid.png" alt="Polaroid" class="polaroid" />
  <img src="img/red-pin.png" alt="RedPin" class="red-pin" />
</div>

<div class="containerTwo">
  <img src="img/lady.jpg" alt="Lady" class="lady" />
  <img src="img/polaroid.png" alt="Polaroid" class="polaroid2" />
  <img src="img/red-pin.png" alt="RedPin" class="red-pin2" />
</div>
